<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
    <title>Arbeitstisch</title>
</head>

<body>
<div id="search" style="margin-top:5px;float:right">
    <input type='text' placeholder='Suchen...' id='search-text-input'/>

    <div id='button-holder'>
        <img src='../../static/images/searchicon.png' th:src="@{/images/searchicon.png}"/>
    </div>
</div>
<div id="Accordion1" style="padding-top:70px;height: auto">
    <h3><a href="#">Stundentausch</a></h3>

    <div>
        <table class="table-main" id="lessonShit_main" th:unless="${#lists.isEmpty(lessonShifts)}">
            <thead>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2">Benutzername</th>
                <th rowspan="2">Antragsdatum</th>
                <th rowspan="2">Betroffener Tag</th>
                <th rowspan="2">Grund der Verhinderung</th>
                <th rowspan="2">Klasse</th>
                <th style="text-align:center" colspan="2">Absenz</th>
                <th style="text-align:center" colspan="3">Zurückgegeben</th>
                <th rowspan="2"></th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th>von Std.</th>
                <th>bis Std.</th>
                <th>am</th>
                <th>von Std.</th>
                <th>bis Std.</th>
            </tr>
            </thead>
            <tr th:each="lessonShift,iter : ${lessonShifts}">
                <td>
                    <div class="popup" th:onclick="'myFunction(\''+${iter.index}+'\');'">
                        <img src="../../static/images/s-button.png"
                             style="width:25px; height:30px"
                             th:src="@{/images/s-button.png}"/>
                        <span class="popuptext" th:id="'myPopup'+${iter.index}"
                              th:text="*{lessonShift.mainRequest.statusToString}"></span>
                    </div>
                </td>
                <td th:text="${lessonShift.mainRequest.requester}">offline</td>
                <td th:text="${lessonShift.mainRequest.rDate}">offline</td>
                <td th:text="${lessonShift.mainRequest.absenceDate}">offline</td>
                <td th:text="${lessonShift.mainRequest.reason}">offline</td>
                <td th:text="${lessonShift.lessonShiftViwe.className}">offline</td>
                <td th:text="${lessonShift.lessonShiftViwe.absentFrom}">offline</td>
                <td th:text="${lessonShift.lessonShiftViwe.absentTo}">offline</td>
                <td th:text="${lessonShift.lessonShiftViwe.returnDate}">offline</td>
                <td th:text="${lessonShift.lessonShiftViwe.returnHourFrom}">offline</td>
                <td th:text="${lessonShift.lessonShiftViwe.returnHourTo}">offline</td>
                <td><a th:href="@{/anforderungen/acceptStundentausch/{id}/{userName}(id=${lessonShift.mainRequest.id}, userName=${currentUser.username})}" class="button green" ><div class="light"></div>akzeptieren</a></td>
                <td><a th:href="@{/anforderungen/denyStundentausch/{id}/{userName}(id=${lessonShift.mainRequest.id}, userName=${currentUser.username})}" class="button red"><div class="light"></div>ablehnen</a></td>
            </tr>
        </table>
    </div>
    <h3><a href="#">Vertretung</a></h3>

    <div>
        <table class="table-main" id="substitutionTable" th:unless="${#lists.isEmpty(substitutions)}">
            <thead>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2">Benutzername</th>
                <th rowspan="2">Antragsdatum</th>
                <th rowspan="2">Betroffener Tag</th>
                <th rowspan="2">Grund der Verhinderung</th>
                <th rowspan="2">Klasse</th>
                <th style="text-align:center" colspan="2">Absenz</th>
                <th rowspan="2">Vertreter</th>
                <th rowspan="2"></th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th>von Std.</th>
                <th>bis Std.</th>
            </tr>
            </thead>
            <tbody>
            <tr class="main_row" th:each="substitution ,iter : ${substitutions}">
                <td>
                    <div class="popup" th:onclick="'sub_myFunction(\''+${iter.index}+'\');'">
                        <img src="../../static/images/s-button.png"
                             style="width:25px; height:30px"
                             th:src="@{/images/s-button.png}"/>
                        <span class="popuptext" th:id="'sub_myPopup'+${iter.index}"
                              th:text="*{substitution.mainRequest.statusToString}"></span>
                    </div>
                </td>
                <td th:text="${substitution.mainRequest.requester}">offline</td>
                <td th:text="${substitution.mainRequest.rDate}">offline</td>
                <td th:text="${substitution.mainRequest.absenceDate}">offline</td>
                <td th:text="${substitution.mainRequest.reason}">offline</td>
                <td th:text="${substitution.substitutionViwe.className}">offline</td>
                <td th:text="${substitution.substitutionViwe.absentFrom}">offline</td>
                <td th:text="${substitution.substitutionViwe.absentTo}">offline</td>
                <td th:text="${substitution.substitutionViwe.substitutedTeacher}">offline</td>
                <td><a th:href="@{/anforderungen/acceptVertretung/{id}(id=${substitution.mainRequest.id})}">akseptieren</a></td>
                <td><a th:href="@{/anforderungen/denyVertretung/{id}(id=${substitution.mainRequest.id})}">ablehnen</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3><a href="#">Krankmeldung</a></h3>

    <div>
        <table class="table-main" id="LongAbsenceTable" border="3" th:unless="${#lists.isEmpty(longAbsences)}">
            <thead>
            <th></th>
            <th>Benutzername</th>
            <th>Antragsdatum</th>
            <th>Betroffener Tag</th>
            <th>Grund der Verhinderung</th>
            <th>vorgeschätze Dauer</th>
            </thead>

            <tr class="main_row" th:each="longAbsence : ${longAbsences}">
                <td>
                    <div class="popup" th:onclick="'long_myFunction(\''+${iter.index}+'\');'">
                        <img src="../../static/images/s-button.png"
                             style="width:25px; height:30px"
                             th:src="@{/images/s-button.png}"/>
                        <span class="popuptext" th:id="'long_myPopup'+${iter.index}"
                              th:text="*{longAbsence.mainRequest.statusToString}"></span>
                    </div>
                </td>
                <td th:text="${longAbsence.mainRequest.requester}">offline</td>
                <td th:text="${longAbsence.mainRequest.rDate}">offline</td>
                <td th:text="${longAbsence.mainRequest.absenceDate}">offline</td>
                <td th:text="${longAbsence.mainRequest.reason}">offline</td>
                <td th:text="${longAbsence.estimDuration}">offline</td>
            </tr>
        </table>
    </div>
</div>
<a id="Neuerantrag" th:href="@{/addAntrag}"
   style="float:right; margin-bottom:30px;margin-right:20px;margin-top:10px">Neuer Antrag</a>

<div></div>
</body>
<script type="text/javascript">
    $(function () {
        $("#Accordion1").accordion();
    });
    $(function () {
        $("#Neuerantrag").button();
    });
</script>

<script type="text/javascript">
    function myFunction(index) {
        var popup = document.getElementById('myPopup' + index);
        popup.classList.toggle('show');
    }
    function sub_myFunction(index) {
        var popup = document.getElementById('sub_myPopup' + index);
        popup.classList.toggle('show');
    }
    function long_myFunction(index) {
        var popup = document.getElementById('long_myPopup' + index);
        popup.classList.toggle('show');
    }
</script>
</html>
