@charset "utf-8";
/* css Document */
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #732727;
	-webkit-box-shadow: 0px 10px 14px -7px #732727;
	box-shadow: 0px 10px 14px -7px #732727;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f52727), color-stop(1, #994040));
	background:-moz-linear-gradient(top, #f52727 5%, #994040 100%);
	background:-webkit-linear-gradient(top, #f52727 5%, #994040 100%);
	background:-o-linear-gradient(top, #f52727 5%, #994040 100%);
	background:-ms-linear-gradient(top, #f52727 5%, #994040 100%);
	background:linear-gradient(to bottom, #f52727 5%, #994040 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f52727', endColorstr='#994040',GradientType=0);
	background-color:#f52727;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a3e3e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #994040), color-stop(1, #f52727));
	background:-moz-linear-gradient(top, #994040 5%, #f52727 100%);
	background:-webkit-linear-gradient(top, #994040 5%, #f52727 100%);
	background:-o-linear-gradient(top, #994040 5%, #f52727 100%);
	background:-ms-linear-gradient(top, #994040 5%, #f52727 100%);
	background:linear-gradient(to bottom, #994040 5%, #f52727 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#994040', endColorstr='#f52727',GradientType=0);
	background-color:#994040;
}
.myButton:active {
	position:relative;
	top:1px;
}