@charset "utf-8";
/* css Document */

.dropbtn {
    background-color: #D7090C;
    color: white;
    padding: 8px;
    font-size: 12px;
	font-weight:bold;
	font-family:Arial;
    border: none;
    cursor: pointer;
	margin-left:30px;
	margin-top:5px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 9px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #E3070B;
}
