td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
td.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}