@charset "utf-8";
/* css Document */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
   
}

tr:nth-child(even) {
    background-color: #dddddd;
}
