@charset "utf-8";
/* CSS Document */

table {
    font-family: arial, sans-serif;

    font-size:14px;
    text-align: center;
    border-collapse: collapse;

}
.table-main
{
    width:800px;
    text-align:center;
}

.table-details
{
    width:700px;

    margin-left:20px;
}


td, th {
    border: 1px solid #dddddd;
    text-align: center;

}

tr:nth-child(even) {
    background-color: #dddddd;
}

