<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
    <title>Abwesenheitsantarg</title>
</head>

<body>
<div class="container-wrapper" style="background-color:rgba(216,216,216,1.00); height:auto">
    <div class="container">
        <form method="post" th:object="${absenceRequest}">
            <fieldset class="form-group">
                <div>
                    <input type="hidden" name="requester" th:field="*{requester}"/><br/>
                    Antragsdatum: <input id="rDate" readonly="readonly" type="datetime" name="rDate" style="font-weight:normal" th:field="*{rDate}"/>
                </div>
                <div>
                    Betroffener Tag: <input type="date" name="absenceDate" style="margin-top:10px; font-weight:normal" class="form-control"       placeholder="dd.mm.yy" th:field="*{absenceDate}"/> <br/>
                    <span class="help-block" style="margin-top:2px;;font-size: small;color:#5a5a5a; font-weight:normal">Bitte geben Sie betroffenen Abwesenheitstag ein.</span>
                    <p style="margin-top:2px; font-weight:normal; font-size: small;color:red;" th:if="${#fields.hasErrors('absenceDate')}" th:errors="*{absenceDate}">Fehlerhafte Eingabe</p>
                </div>
                <div>
                    Grund der Verhinderung:<input type="text" name="reason" style="margin-top:10px;font-weight:bold" th:field="*{reason}"/><br/>
                    <span class="help-block" style="margin-top:2px;font-size:small;color:#5a5a5a; font-weight:normal">Grund der Verhinderung eingeben.</span>
                    <p style="margin-top:2px; font-weight:normal;font-size:small;color:red;" th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}" >Fehlerhafte Eingabe</p>
                </div>
                <input type="submit"  name="action" value="Stundentausch"  id="Stundentausch" style="margin-top:20px"/>
                <input type="submit"  name="action" value="Vertretung" id="Vertretung" style="margin-top:20px"/>
                <input type="submit"  name="action" value="LangeAbwesenheit"  id="LangeAbwesenheit" style="margin-top:20px"/>
                <a id="Abbrechen" th:href="@{/antraege/{userName}(userName='mos15809')}" style="margin-top:20px">Abbrechen</a>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#Stundentausch").button();
    });
    $(function () {
        $("#Vertretung").button();
    });
    $(function () {
        $("#LangeAbwesenheit").button();
    });
    $(function () {
        $("#Abbrechen").button();
    });
</script>
</body>
</html>
