<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
    <title>Stundentausch</title>
</head>
<body>
<div class="container-wrapper" style="background-color:rgba(216,216,216,1.00); height:auto; width:auto">
    <div class="container">
        <form th:object="${mainRequest}" method="get">
            <fieldset class="form-group">
                Antragsdatum: <input type="date" name="rdate" style="font-weight:bold" readonly="readonly"
                                     th:field="*{rDate}"/><br/>
                Betroffener Tag: <input type="text" name="absenseDate" style="margin-top:10px; font-weight:bold"
                                        readonly="readonly" th:field="*{absenceDate}"/><br/>
                Grund der Verhinderung:<input type="text" name="reason" style="margin-top:10px;font-weight:bold"
                                              readonly="readonly" th:field="*{reason}"/><br/>
            </fieldset>
        </form>
        <form th:object="${lessonShift}" method="post">
            <fieldset class="form-group">
                <div>
                    Klasse: <select type="text" name="className" th:field="*{className}"
                                    style="margin-top:10px; font-weight:bold">
                    <option th:each="classname : ${classNames}" th:value="${classname}" th:text="${classname}"></option>
                </select>
                </div>
                <div>
                    Absenz: <br style="margin-top:10px"/>
                    vom Std.: <select type="number" th:field="*{absentFrom}" style=" font-weight:bold">
                    <option th:each="coursehour : ${courseHoursFrom}" th:value="${coursehour.id}" th:text="${coursehour.start}"></option>
                </select>
                    bis Std.: <select type="number" min="1" th:field="*{absentTo}" style="font-weight:bold">
                    <option th:each="coursehour : ${courseHoursTo}" th:value="${coursehour.id}" th:text="${coursehour.start}"></option>
                </select>
                </div>
                <div>
                    zurückgegeben:<br style="margin-top:10px"/>
                    am: <input type="date" th:field="*{returnDate}" style="font-weight:bold"/>
                    vom Std.: <select type="number" th:field="*{returnHourFrom}" style="font-weight:bold">
                    <option th:each="freehour : ${freeHoursFrom}" th:value="${freehour.id}" th:text="${freehour.start}"></option>
                </select>
                    bis Std.: <select type="number" th:field="*{returnHourTo}" style="font-weight:bold">
                    <option th:each="freehour : ${freeHoursTo}" th:value="${freehour.id}" th:text="${freehour.start}"></option>
                </select>
                </div>
                <input type="submit" name="Einreichen" value="Einreichen" id="einreichen" style="margin-top:20px"/>
                <a th:href="@{/antraege/${currentUser.username}}" id="Abbrechen" style="margin-top:20px">Abbrechen</a>
            </fieldset>
        </form>
    </div>
</div>
</body>

<script type="text/javascript">

    $(function () {
        $("#einreichen").button();
    });
    $(function () {
        $("#Abbrechen").button();
    });
</script>
</html>
