<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <link href="../static/css/accept-deny-button.css" rel="stylesheet" type="text/css" th:href="@{/css/accept-deny-button.css}"/>
    <link href="../static/css/tableform.css" rel="stylesheet" type="text/css" th:href="@{/css/tableform.css}"/>
    <link href="../static/css/button.css" rel="stylesheet" type="text/css" th:href="@{/css/button.css}"/>
    <link href="../static/css/ser.css" rel="stylesheet" type="text/css" th:href="@{/css/ser.css}"/>
    <link href="../static/css/logout.css" rel="stylesheet" type="text/css" th:href="@{/css/logout.css}"/>
    <link href="../static/css/table.css" rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link href="../static/css/ser.css" rel="stylesheet" type="text/css" th:href="@{/css/ser.css}"/>
    <link href="../static/css/showdetaile.css" rel="stylesheet" type="text/css" th:href="@{/css/showdetaile.css}"/>
    <link href="../static/scripts/jQueryAssets/jquery.ui.core.min.css" rel="stylesheet" type="text/css" th:href="@{/scripts/jQueryAssets/jquery.ui.core.min.css}"/>
    <link href="../static/scripts/jQueryAssets/jquery.ui.theme.min.css" rel="stylesheet" type="text/css" th:href="@{/scripts/jQueryAssets/jquery.ui.theme.min.css}"/>
    <link href="../static/scripts/jQueryAssets/jquery.ui.accordion.min.css" rel="stylesheet" type="text/css" th:href="@{/scripts/jQueryAssets/jquery.ui.accordion.min.css}"/>
    <link href="../static/scripts/jQueryAssets/jquery.ui.button.min.css" rel="stylesheet" type="text/css" th:href="@{/scripts/jQueryAssets/jquery.ui.button.min.css}"/>
    <link href="../static/css/popup.css" rel="stylesheet" type="text/css" th:href="@{/css/popup.css}" />
    <script src="../static/scripts/jQueryAssets/jquery-1.11.1.min.js" type="text/javascript" th:src="@{/scripts/jQueryAssets/jquery-1.11.1.min.js}"></script>
    <script src="../static/scripts/jQueryAssets/jquery.ui-1.10.4.accordion.min.js" type="text/javascript" th:src="@{/scripts/jQueryAssets/jquery.ui-1.10.4.accordion.min.js}"></script>
    <script src="../static/scripts/jQueryAssets/jquery.ui-1.10.4.button.min.js" type="text/javascript" th:src="@{/scripts/jQueryAssets/jquery.ui-1.10.4.button.min.js}"></script>


</head>

<body>
<div id="t1">
    <img src="../static/images/tar_logo.png" th:src="@{/images/tar_logo.png}" width="200" height="60"/>
    <strong>Teacher Absent Request System </strong>
    <img src="../static/images/spengergasse_logo.png" th:src="@{/images/spengergasse_logo.png}" width="250" height="60"  style="float:right"/>
</div>

<div style=" background-color:rgba(185,181,181,1.00); margin-top:20px; height:60px">
    <a th:href="@{/antrag/{userName}(userName=${currentUser.username})}" th:unless="${#lists.isEmpty(currentUser)}" class="myButton" style="margin-left:7px; margin-top:7px ">Anträge</a>
    <a th:href="@{/anforderungen/{userName}(userName=${currentUser.username})}" th:unless="${#lists.isEmpty(currentUser)}" class="myButton" style="margin-left:7px ">Anforderungen</a>
    <a th:href="@{/logout}" th:unless="${#lists.isEmpty(currentUser)}" class="myButton" style=" float:right; margin-top:7px; margin-right:10px">Abmelden</a>
    <label th:unless="${#lists.isEmpty(currentUser)}" style="float: right;margin-top:20px; font-weight:bold;margin-right:10px; color:rgba(255,255,255,1.00)" th:text="'Wilkommen '+${currentUser.firstName}+' '+${currentUser.LastName}" ></label>
</div>
<div>
    <hr/>
</div>
</body>

</html>
